LOG_LEVEL=INFO

S3_HOST=localhost
S3_PORT=9000
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=climate-action
S3_SECURE=False

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=devel
RABBITMQ_PASSWORD=password
RABBITMQ_VHOST=devel

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=platform_backend
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=platform_backend