DATA_S3_ACCESS_KEY=
DATA_S3_SECRET_KEY=
DATA_S3_ENDPOINT=https://storage.heigit.org
DATA_S3_BUCKET_NAME=heigit-ca-data
POP_RASTER_OBJECT_NAME=GHS_POP_E2025_GLOBE_R2023A_4326_3ss_V1_0/GHS_POP_E2025_GLOBE_R2023A_4326_3ss_V1_0.tif
BUILT_RASTER_OBJECT_NAME=GHS_BUILT_S_E2025_GLOBE_R2023A_4326_3ss_V1_0/GHS_BUILT_S_E2025_GLOBE_R2023A_4326_3ss_V1_0.tif

# Optional to run with ohsome2
FEATURE_FLAG_OHSOME2=
OHSOME_BASE_URL=