interactions:
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B7.779093%2C+48.009563%5D%2C+%5B7.815485%2C+48.009563%5D%2C+%5B7.815485%2C+48.037348%5D%2C+%5B7.779093%2C+48.037348%5D%2C+%5B7.779093%2C+48.009563%5D%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Apolygon+and+boundary%3Dadministrative+and+admin_level+in+%289%2C+10%29&properties=tags&clipGeometry=False
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Polygon\",\n
        \     \"coordinates\" : [\n        [\n          [\n            7.8035883,\n
        \           48.0089464\n          ],\n          [\n            7.8037909,\n
        \           48.0090697\n          ],\n          [\n            7.8035266,\n
        \           48.0094617\n          ],\n          [\n            7.8037083,\n
        \           48.0095231\n          ],\n          [\n            7.8039283,\n
        \           48.0095973\n          ],\n          [\n            7.8054418,\n
        \           48.0108[...]
