interactions:
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.655%2C+49.394%5D%2C+%5B8.655%2C+49.412%5D%2C+%5B8.699%2C+49.412%5D%2C+%5B8.699%2C+49.394%5D%2C+%5B8.655%2C+49.394%5D%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Apolygon+and+boundary%3Dadministrative+and+admin_level+in+%289%2C+10%29&properties=tags&clipGeometry=False
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Polygon\",\n
        \     \"coordinates\" : [\n        [\n          [\n            8.6702315,\n
        \           49.4055374\n          ],\n          [\n            8.6762736,\n
        \           49.4032202\n          ],\n          [\n            8.679977,\n
        \           49.4013023\n          ],\n          [\n            8.6776064,\n
        \           49.4000289\n          ],\n          [\n            8.6755034,\n
        \           49.398956\n          ],\n          [\n            8.6730278,\n
        \           49.397620[...]
