interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ohsome.org/v1/metadata
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"timeout\" : 600.0,\n  \"extractRegion\" : {\n    \"spatialExtent\"
        : {\n      \"type\" : \"Polygon\",\n      \"coordinates\" : [ [ [ -180.0,
        -90.0 ], [ 180.0, -90.0 ], [ 180.0, 90.0 ], [ -180.0, 90.0 ], [ -180.0, -90.0
        ] ] ]\n    },\n    \"temporalExtent\" : {\n      \"fromTimestamp\" : \"2007-10-08T00:00:00Z\",\n
        \     \"toTimestamp\" : \"2025-10-01T12:00Z\"\n    },\n    \"replicationSequenceNumber\"
        : 114413\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B72.883%2C+42.16%5D%2C+%5B72.883%2C+42.161%5D%2C+%5B72.884%2C+42.161%5D%2C+%5B72.884%2C+42.16%5D%2C+%5B72.883%2C+42.16%5D%5D%5D%5D%7D%7D%5D%7D&time=2025-10-01T12%3A00%3A00&filter=%28highway%3Dmotorway+or+highway%3Dmotorway_link+or+highway%3Dmotorway_junction+or+highway%3Dtrunk+or+highway%3Dtrunk_link+or+highway%3Dprimary+or+highway%3Dprimary_link+or+highway%3Dsecondary+or+highway%3Dsecondary_link+or+highway%3Dtertiary+or+highway%3Dtertiary_link+or+highway%3Dresidential+or+highway%3Dliving_street+or+highway%3Dunclassified%29+and+geometry%3Aline&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"LineString\",\n
        \     \"coordinates\" : [\n        [\n          72.884,\n          42.1601433\n
        \       ],\n        [\n          72.883,\n          42.1602217\n        ]\n
        \     ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"way/234223125\",\n
        \     \"@snapshotTimestamp\" : \"2025-10-01T12:00:00Z\",\n      \"highway\"
        : \"trunk\",\n      \"int_ref\" : \"E 010;AH7\",\n      \"lanes\" : \"2\",\n
        \     \"maxspeed\" : \"90\",\n      \"name\" : \"\u0411\u0438\u0448\u043A\u0435\u043A-\u041E\u0448\",\n
        \     \"ref\" : \"\u042D\u041C-04\",\n      \"surface\" : \"asphalt\"\n    }\n
        \ }]\n}\n"
    headers:
      Content-Type:
      - application/geo+json;charset=utf-8
      Content-disposition:
      - attachment;filename=ohsome.geojson
    status:
      code: 200
      message: ''
version: 1
