interactions:
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B72.883%2C+42.16%5D%2C+%5B72.883%2C+42.161%5D%2C+%5B72.884%2C+42.161%5D%2C+%5B72.884%2C+42.16%5D%2C+%5B72.883%2C+42.16%5D%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Apolygon+and+boundary%3Dadministrative+and+admin_level+in+%289%2C+10%29&properties=tags&clipGeometry=False
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : []\n}\n"
    headers:
      Content-Type:
      - application/geo+json;charset=utf-8
      Content-disposition:
      - attachment;filename=ohsome.geojson
    status:
      code: 200
      message: ''
version: 1
