interactions:
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.65%2C+49.39%5D%2C+%5B8.65%2C+49.43%5D%2C+%5B8.74%2C+49.43%5D%2C+%5B8.74%2C+49.39%5D%2C+%5B8.65%2C+49.39%5D%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Apolygon+and+boundary%3Dadministrative+and+admin_level%3D9&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Polygon\",\n
        \     \"coordinates\" : [\n        [\n          [\n            8.65,\n            49.3942739\n
        \         ],\n          [\n            8.6504139,\n            49.3943238\n
        \         ],\n          [\n            8.6506136,\n            49.3943473\n
        \         ],\n          [\n            8.6556326,\n            49.3949525\n
        \         ],\n          [\n            8.6557223,\n            49.3947606\n
        \         ],\n          [\n            8.6567475,\n            49.394769\n
        \[...]
