interactions:
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.677697%2C+49.418342%5D%2C+%5B8.677697%2C+49.420311%5D%2C+%5B8.673856%2C+49.420311%5D%2C+%5B8.673856%2C+49.418342%5D%2C+%5B8.677697%2C+49.418342%5D%5D%5D%7D%7D%5D%7D&filter=%28highway%3Dmotorway+or+highway%3Dmotorway_link+or+highway%3Dmotorway_junction+or+highway%3Dtrunk+or+highway%3Dtrunk_link+or+highway%3Dprimary+or+highway%3Dprimary_link+or+highway%3Dsecondary+or+highway%3Dsecondary_link+or+highway%3Dtertiary+or+highway%3Dtertiary_link%29+and+geometry%3Aline&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"LineString\",\n
        \     \"coordinates\" : [\n        [\n          8.6761326,\n          49.4195939\n
        \       ],\n        [\n          8.6761307,\n          49.4194808\n        ],\n
        \       [\n          8.6761206,\n          49.4193076\n        ]\n      ]\n
        \   },\n    \"properties\" : {\n      \"@osmId\" : \"way/34126010\",\n      \"@snapshotTimestamp\"
        : \"2026-06-19T10:00:00Z\",\n      \"cycleway:left\" : \"no\",\n      \"cycleway:right\"
        : \"separate\",\n      \"highway\" : \"primary\",\n      \"lanes\" : \"2\",\n
        \     \"lit\" : \"yes\",\n      \"maxspeed\" : \"50\",\n      \"name\" : \"Berliner
        Stra\xDFe\",\n      \"name:etymology:wikidata\" : \"Q64\",\n      \"oneway\"
        : \"yes\",\n      \"parking:lane:both\" : \"no\",\n      \"priority_road\"
        : \"designated\",\n      \"sidewalk\" : \"separate\",\n      \"smoothness\"
        : \"good\",\n      \"surface\" : \"asphalt\",\n      \"zone:maxspeed\" : \"DE:urban\",\n
        \     \"zone:traffic\" : \"DE:urban\"\n    }\n  }, {\n    \"type\" : \"Feature\",\n
        \   \"geometry\" : {\n      \"type\" : \"LineString\",\n      \"coordinates\"
        : [\n        [\n          8.6761328,\n          49.4196633\n        ],\n        [\n
        \         8.6761326,\n          49.4195939\n        ]\n      ]\n    },\n    \"properties\"
        : {\n      \"@osmId\" : \"way/159626322\",\n      \"@snapshotTimes[...]
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.677697%2C+49.418342%5D%2C+%5B8.677697%2C+49.420311%5D%2C+%5B8.673856%2C+49.420311%5D%2C+%5B8.673856%2C+49.418342%5D%2C+%5B8.677697%2C+49.418342%5D%5D%5D%7D%7D%5D%7D&filter=%28highway%3Dmotorway+or+highway%3Dmotorway_link+or+highway%3Dmotorway_junction+or+highway%3Dtrunk+or+highway%3Dtrunk_link+or+highway%3Dprimary+or+highway%3Dprimary_link+or+highway%3Dsecondary+or+highway%3Dsecondary_link+or+highway%3Dtertiary+or+highway%3Dtertiary_link%29+and+geometry%3Aline
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/length
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"result\" : [ {\n    \"timestamp\" : \"2026-06-19T10:00:00Z\",\n
        \   \"value\" : 438.3\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
