interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ohsome.org/v1/metadata
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"timeout\" : 600.0,\n  \"extractRegion\" : {\n    \"spatialExtent\"
        : {\n      \"type\" : \"Polygon\",\n      \"coordinates\" : [ [ [ -180.0,
        -90.0 ], [ 180.0, -90.0 ], [ 180.0, 90.0 ], [ -180.0, 90.0 ], [ -180.0, -90.0
        ] ] ]\n    },\n    \"temporalExtent\" : {\n      \"fromTimestamp\" : \"2007-10-08T00:00:00Z\",\n
        \     \"toTimestamp\" : \"2025-10-01T12:00Z\"\n    },\n    \"replicationSequenceNumber\"
        : 114413\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.677697%2C+49.418342%5D%2C+%5B8.677697%2C+49.420311%5D%2C+%5B8.673856%2C+49.420311%5D%2C+%5B8.673856%2C+49.418342%5D%2C+%5B8.677697%2C+49.418342%5D%5D%5D%7D%7D%5D%7D&time=2025-10-01T12%3A00%3A00&filter=%28highway%3Dmotorway+or+highway%3Dmotorway_link+or+highway%3Dmotorway_junction+or+highway%3Dtrunk+or+highway%3Dtrunk_link+or+highway%3Dprimary+or+highway%3Dprimary_link+or+highway%3Dsecondary+or+highway%3Dsecondary_link+or+highway%3Dtertiary+or+highway%3Dtertiary_link+or+highway%3Dresidential+or+highway%3Dliving_street+or+highway%3Dunclassified%29+and+geometry%3Aline&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"LineString\",\n
        \     \"coordinates\" : [\n        [\n          8.6761349,\n          49.4199309\n
        \       ],\n        [\n          8.6760776,\n          49.4198568\n        ],\n
        \       [\n          8.6759767,\n          49.4197702\n        ]\n      ]\n
        \   },\n    \"properties\" : {\n      \"@osmId\" : \"way/24868027\",\n      \"@snapshotTimestamp\"
        : \"2025-10-01T12:00:00Z\",\n      \"cycleway:left\" : \"no\",\n      \"cycleway:right\"
        : \"separate\",\n      \"destination\" : \"Universit\xE4t;Campus Im Neuenheimer
        Feld;Uni-Klinikum;NCT;Sportzentrum-Nord;Olympiast\xFCtzpunkt;Schwimmbad;Zoo\",\n
        \     \"highway\" : \"residential\",\n      \"lanes\" : \"1\",\n      \"lit\"
        : \"yes\",\n      \"maxspeed\" : \"50\",\n      \"name\" : \"Im Neuenheimer
        Feld\",\n      \"name:etymology:wikidata\" : \"Q1980045\",\n      \"oneway\"
        : \"yes\",\n      \"parking:lane:both\" : \"no\",\n      \"sidewalk\" : \"separate\",\n
        \     \"smoothness\" : \"good\",\n      \"source:maxspeed\" : \"DE:urban\",\n
        \     \"surface\" : \"asphalt\",\n      \"zone:maxspeed\" : \"DE:urban\",\n
        \     \"zone:traffic\" : \"DE:urban\"\n    }\n  }, {\n    \"type\" : \"Feature\",\n
        \   \"geometry\" : {\n      \"type\" : \"LineString\",\n      \"coordinates\"
        : [\n        [\n          8.6774879,\n          49.418342\n        ],\n        [\n
        \         8.677437,\n          49.418428\n        ],\n        [\n          8.6774168,\n
        \         49.4184645\n        ],\n        [\n          8.6773864,\n   [...]
