interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ohsome.org/v1/metadata
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"timeout\" : 600.0,\n  \"extractRegion\" : {\n    \"spatialExtent\"
        : {\n      \"type\" : \"Polygon\",\n      \"coordinates\" : [ [ [ -180.0,
        -90.0 ], [ 180.0, -90.0 ], [ 180.0, 90.0 ], [ -180.0, 90.0 ], [ -180.0, -90.0
        ] ] ]\n    },\n    \"temporalExtent\" : {\n      \"fromTimestamp\" : \"2007-10-08T00:00:00Z\",\n
        \     \"toTimestamp\" : \"2026-02-19T12:00Z\"\n    },\n    \"replicationSequenceNumber\"
        : 117797\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.655%2C+49.394%5D%2C+%5B8.655%2C+49.412%5D%2C+%5B8.699%2C+49.412%5D%2C+%5B8.699%2C+49.394%5D%2C+%5B8.655%2C+49.394%5D%5D%5D%5D%7D%7D%5D%7D&time=2026-02-19T12%3A00%3A00&filter=%28highway%3Dmotorway+or+highway%3Dmotorway_link+or+highway%3Dmotorway_junction+or+highway%3Dtrunk+or+highway%3Dtrunk_link+or+highway%3Dprimary+or+highway%3Dprimary_link+or+highway%3Dsecondary+or+highway%3Dsecondary_link+or+highway%3Dtertiary+or+highway%3Dtertiary_link%29+and+geometry%3Aline&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"LineString\",\n
        \     \"coordinates\" : [\n        [\n          8.6688553,\n          49.4081784\n
        \       ],\n        [\n          8.6687137,\n          49.4081891\n        ],\n
        \       [\n          8.6683105,\n          49.4082068\n        ]\n      ]\n
        \   },\n    \"properties\" : {\n      \"@osmId\" : \"way/4084008\",\n      \"@snapshotTimestamp\"
        : \"2026-02-19T12:00:00Z\",\n      \"foot\" : \"no\",\n      \"highway\" :
        \"trunk\",\n      \"lanes\" : \"2\",\n      \"lit\" : \"yes\",\n      \"maxspeed\"
        : \"50\",\n      \"oneway\" : \"yes\",\n      \"ref\" : \"B 37\",\n      \"sidewalk\"
        : \"no\",\n      \"smoothness\" : \"good\",\n      \"surface\" : \"asphalt\",\n
        \     \"width\" : \"7.5\"\n    }\n  }, {\n    \"type\" : \"Feature\",\n    \"geometry\"
        : {\n      \"type\" : \"LineString\",\n      \"coordinates\" : [\n        [\n
        \         8.655,\n          49.4109565\n        ],\n        [\n          8.6581755,\n
        \         49.410115\n        ],\n        [\n          8.6617375,\n          49.4091797\n
        \       ],\n        [\n          8.662706,\n          49.4089275\n        ]\n
        \     ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"way/24968892\",\n
        \     \"@snapshotTimestamp\" : \"2026-02-19T12:00:00Z\",\n      \"destination:lanes\"
        : \"Eberbach;Neckargem\xFCnd;Universit\xE4ts-Klinikum|Bensheim;Altstadt;Zentrum\",\n
        \     \"destination:ref:lanes\" : \"B 37|\",\n      \"highway\" : \"trunk\",\n
        \     \"lanes\" : \"2\",\n      \"maxheight\" : \"default\",\n      \"maxspeed\"
        : \"70\",\n      \"motorroad\" : \"yes\",\n      \"oneway\" : \"yes\",\n      \"ref\"
        : \"B 37\",\n      \"smoothness\" : \"excellent\",\n      \"start_date\" :
        \"1935\",\n      \"surface\" : \"asphalt\",\n      \"width\" : \"8\"\n    }\n
        \ }, {\n    \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\"
        : \"LineString\",\n      \"coordinates\" : [\n        [\n          8.6678718,\n
        \         49.4082234\n        ],\n        [\n          8.6674015,\n          49.4082411\n
        \       ],\n        [\n          8.6669321,\n          49.4082658\n        ],\n
        \       [\n          8.6663814,\n          49.408[...]
[...]
